.archive-color-two{
    margin:115% 0% 0% 10vw;
    padding:0px 0px 0px 0px;
    width:40%;
    height:30%;
    font-size:4vh;
    font-weight:bold;
    font-family:yu gothic;
    /*font-size:8vw;*/
    background-color:transparent;
    color:white;
    position:absolute;
}

.archive-color{
    display:none;
}

.archive-img-first{
    width:80%;
    margin:15% 0px 0px 10%;
    border:none;
}

.archive-text{
    display:none;
}

.archive-img-second{
    display:none;
}

.right-pic{
    display:none;
}

.left-pic img{
    width:75%;
    margin:13% 0px 0px 8%;
    z-index:3;
    position:absolute;
}

.upcoming-middle-text{
    font-size:4vh;
    margin:120% 0px 0px 20%;
    position:absolute;
    width:50%;
    padding:0px 0px 0px 0px;
    background-color:transparent;
    z-index:2;
    font-weight:bold;
    font-family:yu gothic;
    color:white;
}

.upcoming-front-text{
    display:none;
}

.upcoming-color{
    display:none;
}

.front-upcoming{
    height:100vh;
    background-color:black;
}
@media only screen and (max-width:896px) and (orientation:landscape){
    .archive-color-two{
        margin:52vh 0% 0% 50%;
        width:30%;
        height:30%;
        font-size:6vh;
    }
    
    .archive-img-first{
        width:55vh;
        margin:9% 0px 0px 5%;
    }

    .archive-text{
        z-index:2;
        position:absolute;
        margin:15% 0px 0px 50%;
        color:black;
        opacity:.4;
        font-size:10.5vh;
        font-weight:bold;
        font-family:yu gothic;
        letter-spacing: 2px;
        text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        display:initial;
    }

    .archive-color{
        width:15%;
        height:11vh;
        margin:15.5% 0px 0px 39%;
        background-color:rgb(36, 36, 134);
        position:absolute;
        display:initial;
    }

    .left-pic img{
        width:55vh;
        margin:9% 0px 0px 5%;
    } 

    .upcoming-middle-text{
        font-size:6vh;
        margin:52vh 0px 0px 50%;
        width:30%;
    }

    .upcoming-color{
        background-color:#993333;
        margin:15% 0px 0px 77vh;
        width:22vw;
        height:14vh;
        position:absolute;
        z-index:1;
        display:initial;
    }

    .upcoming-front-text{
        color:black;
        opacity:.4;
        font-weight:bold;
        font-family:yu gothic;
        letter-spacing: 2px;
        text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        z-index:4;
        display:initial;
        position: absolute;
        font-size:10.5vh;
        margin:15% 0px 0px 50vw;
    }
}
/*--------------desktop-----------*/
@media only screen and (min-width:897px){
    .front-upcoming{
        height:51vw;
    }

    .archive-color-two{
        width:6.9%;
        height:50%;
        margin:15% 0px 0px 80%;
        padding:50px 10px 20px 10px;
        background-color:rgb(36, 36, 134);
        position:absolute;
        font-size:2vw;
    }

    .archive-color{
        width:18.8%;
        height:11%;
        margin:16% 0px 0px 0px;
        background-color:rgb(36, 36, 134);
        position:absolute;
        display:initial;
    }

    .archive-img-second{
        height:50%;
        width:auto;
        border:2px solid white;
        margin:25.5% 0px 0px 0px;
        position:absolute;
        display:initial;
    }

    .archive-img-first{
        width:30%;
        margin:5% 0px 0px 45%;
        border:2px solid white;
        position:absolute;
        z-index:1;
    }

    .archive-text{
        z-index:2;
        position:absolute;
        margin:16% 0px 0px 15.7%;
        color:black;
        opacity:.4;
        font-size:4.2vw;
        font-weight:bold;
        font-family:yu gothic;
        letter-spacing: 2px;
        text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        display:initial;
    }
    /*---------liked the way this looked-----*/
    .rchive-text{
        z-index:2;
        position:absolute;
        width:400px;
        margin:300px 0px 0px 300px;
        color:white;
        opacity:.1;
        font-size:80px;
        font-weight:bold;
        font-family:yu gothic;
        letter-spacing: 2px;
        text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    }

    .upcoming-color{
        background-color:#993333;
        margin:39.5% 0px 0px 11.5%;
        width:30%;
        height:11%;
        position:absolute;
        z-index:1;
        display:initial;
    }

    .upcoming-front-text{
        color:black;
        opacity:.4;
        position:absolute;
        margin:39.5% 0px 0px 5%;
        font-size:4.2vw;
        font-weight:bold;
        font-family:yu gothic;
        letter-spacing: 2px;
        text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        z-index:4;
        display:initial;
    }

    .upcoming-middle-text{
        font-size:2vw;
        padding:50px 10px 20px 10px;
        margin:100px 0px 0px 45%;
        background-color:#993333;
        width:8.5%;
        height:55%;
    }

    .right-pic{
        margin: 10% 0px 0px 70%;
        z-index:2;
        position:absolute;
        display:initial;
    }

    .right-pic img{
        width:80%;
    }

    .left-pic img{
        width:28%;
        margin:0px 0px 0px 0px ;
    }
}

/*-------------ipad-----------*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait) {
    .front-upcoming{
        height:135vw;
    }
    .archive-color-two{
        margin:85% 0% 0% 22%;
        padding:0px 0px 0px 0px;
        width:40%;
        height:30%;
        font-size:4vh;
        background-color:transparent;
    }
    
    .archive-color{
        display:none;
    }
    
    .archive-img-first{
        width:51%;
        margin:15% 0px 0px 22%;;
    }
    
    .archive-text{
        display:none;
    }

    .archive-img-second{
        display:none;
    }

    .right-pic{
        display:none;
    }

    .left-pic img{
        width:51%;
        margin:15% 0px 0px 22%;
        border:2px solid white;
    }

    .upcoming-middle-text{
        font-size:3vh;
        margin:85% 0px 0px 22%;
        width:25%;
        height:25%;
        padding:0px 0px 0px 0px;
        background-color:transparent;
    }

    .upcoming-front-text{
        display:none;
    }

    .upcoming-color{
        display:none;
    }
}
/*--------------------------Styling for the Shoe pictures, info, and goop background-------------------*/

.upcoming-body{
    height:100%;
    overflow: scroll;
    overflow-y:none;
}

.shoe-price{
    font-family:yu gothic;
    font-weight:bold;
    position:absolute;
    width:40%;
    font-size:3vh;
    margin:-54% 0px 0px 0px;
    position:absolute;
    text-align:center;
}

.release-date{
    position:absolute;
    font-family:yu gothic;
    font-weight:bold;
    font-size:3vh;
    margin:40vh 0px 0px 0px;
    width:50%;
    text-align:center;
}

.shoe-title{
    position:absolute;
    font-weight:bold;
    font-family:yu gothic;
    text-align:center;
    width:70%;
    font-size:3vh;
    margin:-40vh 0px 0px 0px;
}

.shoe-title-big{
    position: absolute;
    font-weight:bold;
    font-family:yu gothic;
    text-align:center;
    margin:-35vh 0px 0px 0px;
    width:70%;
    font-size:6vw;
}

.shoe-info{
    font-family:yu gothic;
    font-weight:medium;
    position:absolute;
    width:80%;
    height:25%;
    text-align:center;
    font-size:1.8vh;
    margin:53% 0px 0px 0px;
}

.shoe-pic{
    z-index:3;
    margin:-37vh 0px 0px 0px;
    position: static;
}

.shoe-pic img {
    z-index:3;
    width:auto;
    height:30%;
    position: absolute;
}

.goop-background{
    z-index:1;
    margin:-35vh 0px 0px -40vh;
    position:static;
}

.goop-background img{
    z-index:1;
    position:absolute;
    height:27%;
    width:auto;
}

.element:nth-child(1) .goop-background img{
    margin:0vh 0px 0px 5.5vh;
}

.element:nth-child(1) .shoe-price + .goop-background img{
    height:24%;
    margin:0vh 0px 0px 0px;
}

.element:nth-child(1) .shoe-price + .goop-background + .shoe-pic img{
    margin:0px 0px 0px -7%;
}

.element {
    width: 98vw;
    height: 100vh;
    scroll-margin: 5px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.x-mandatory {
    scroll-snap-type: x mandatory;
}

.x-scroll .wrapper {
    width: 1500px;
}

.x-scroll .element {
    float: left;
}    

.spacer-shoe{
    height:0px;
}

@media only screen and (max-width:896px) and (orientation:landscape){
    .shoe-price{
        margin:16% 0px 0px 20%;
        font-size:2vw;
        width:20%;
    }

    .release-date{
        margin:16% 0px 0px -20%;
        font-size:2vw;
        width:16%;
        
    }

    .shoe-title{
        margin:-15% 0px 0px -20%;
        font-size:2vw;
        width:20%;
    }

    .shoe-title-big{
        margin:-15% 0px 0px -20%;
        font-size:1.7vw;
        width:20%;
    }

    .shoe-info{
        margin:-1% 0px 0px -20%;
        font-size:2vw;
        width:40%;
    }
    
    .shoe-pic{
        margin:-30vw 0px 0px 0%;
    }
    
    .shoe-pic img {
        height:25vw;
    }
    
    .goop-background{
        margin:-45vh 0px 0px 25vh;
    }
    
    .goop-background img{
        height:40%;
    }

    .element:nth-child(1) .shoe-price + .goop-background img{
        height:34%;
        margin:0vh 0px 0px 0px;
    }

    .element:nth-child(1) .goop-background img{
        margin:0vh 0px 0px 20vh;
    }

    .element:nth-child(1) .shoe-price + .goop-background + .shoe-pic img{
        margin:0px 0px 0px 0%;
    }

    .upcoming-body{
        height:100vh;
    }

    .x-scroll .wrapper {
        width:300vw;
        background-color: red;
    }
    
}

/*--------------desktop-----------*/
@media only screen and (min-width:897px){

    .upcoming-body{
        height:140vw;
        overflow:auto;
    }

    .shoe-price{
        font-size:1.5vw;
        margin:38% 0px 0px 10%;
        text-align:initial;
    }

    .release-date{
        font-size:1.5vw;
        margin:35% 0px 0px 10%;
        width:475px;
        text-align:initial;
    }

    .shoe-title{
        width:15%;
        font-size:1.7vw;
        margin:10% 0px 0px 18%;
    }

    .shoe-title-big{
        margin:10% 0px 0px 18%;
        width:15%;
        font-size:1.3vw;
    }

    .shoe-info{
        width:31%;
        height:auto;
        text-align:initial;
        font-size:1.5vw;
        margin:18% 0px 0px 10%;
    }

    .shoe-pic{
        position:absolute;
        margin:10% 0px 0px 49%;
    }

    .shoe-pic img {
        width:80%;
        height:auto;
        position:static;
    }

    .goop-background{
        position:absolute;
        margin:10% 0px 0px 55%;
    }

    .goop-background img{
        width:80%;
        position:static;
        height:auto;
    }

    .element:nth-child(1) .goop-background img{
        margin:0px 0px 0px 0px;
    }
    
    .element:nth-child(1) .shoe-price + .goop-background + .shoe-pic img{
        margin:0px 0px 0px 0px;
    }

    .element {
        width: 0px;
        height: 0px;
        scroll-margin: 0px;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
        display: initial;
        justify-content: initial;
        align-items: initial;
    } 

    .x-mandatory {
        scroll-snap-type: initial;
    }

    .x-scroll .wrapper {
        width: 0px;
    }

    .x-scroll .element {
        float: initial;
    }  
    
    .spacer-shoe{
        height:45vw;
    }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait) {
    .upcoming-body{
        height:100vh;
        overflow: scroll;
        overflow-y:none;
    }
    
    .shoe-price{
        font-family:yu gothic;
        font-weight:bold;
        position:absolute;
        width:30%;
        font-size:4vw;
        margin:-34% 0px 0px 0px;
        position:absolute;
        text-align:center;
    }
    
    .release-date{
        position:absolute;
        font-family:yu gothic;
        font-weight:bold;
        font-size:3vh;
        margin:50% 0px 0px 0px;
        width:50%;
        text-align:center;
    }
    
    .shoe-title{
        position:absolute;
        font-weight:bold;
        font-family:yu gothic;
        text-align:center;
        width:50%;
        font-size:4vw;
        margin:-50% 0px 0px 0px;
    }
    
    .shoe-title-big{
        position: absolute;
        font-weight:bold;
        font-family:yu gothic;
        text-align:center;
        margin:-50% 0px 0px 0px;
        width:70%;
        font-size:4vw;
    }
    
    .shoe-info{
        font-family:yu gothic;
        font-weight:medium;
        position:absolute;
        width:80%;
        height:25%;
        text-align:center;
        font-size:1.8vh;
        margin:35% 0px 0px 0px;
    }
    
    .shoe-pic{
        z-index:3;
        margin:-50% 0px 0px 0px;
        position: static;
    }
    
    .shoe-pic img {
        z-index:3;
        width:auto;
        height:30%;
        position: absolute;
    }
    
    .goop-background{
        z-index:1;
        margin:-50% 0px 0px -50%;
        position:static;
    }
    
    .goop-background img{
        z-index:1;
        position:absolute;
        height:27%;
        width:auto;
    }
    
    .element:nth-child(1) .goop-background img{
        margin:0% 0px 0px 11%;
    }
    
    .element:nth-child(1) .shoe-price + .goop-background img{
        height:24%;
        margin:0% 0px 0px 0px;
    }
    
    .element:nth-child(1) .shoe-price + .goop-background + .shoe-pic img{
        margin:0% 0px 0px -7%;
    }
    
    .element {
        width: 98vw;
        height: 100vh;
        scroll-margin: 1.5vw;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    
    .x-mandatory {
        scroll-snap-type: x mandatory;
    }
    
    .x-scroll .wrapper {
        width: 330vw;
    }
    
    .x-scroll .element {
        float: left;
    }    
    
    .spacer-shoe{
        height:0px;
    }

}
/*-------------------------------My Footer------------------------------*/

.credit{
    color:white;
    margin:5% 0px 0px 13%;
    width:75%;
    font-family:yu gothic;
}

.credit a{
    color:rgb(74, 114, 226) !important;;
}
  
/* thurio effect thanks to https://freefrontend.com/css-social-media-icons/ */
.effect-footer.thurio a {
      transition: border-radius 0.2s linear 0s;
      transform: rotate(45deg);
  }
  
.effect-footer.thurio a i {
      transition: transform 0.01s linear 0s;
      transform: rotate(-45deg);
  }
.effect-footer.thurio :hover {
      border-radius: 0px;
      color:white;
  }

.archive-link a:hover {
    color:white;
    text-decoration:none;
}

.archive-link:hover{
    transform: scale(1.5); 
}

.upcoming-link:hover{
    transform: scale(1.5); 
}

.upcoming-link a:hover {
    color:white;
    text-decoration:none;
}

.home-link:hover {
    transform: scale(1.1); 
}

.home-link a:hover {
    opacity:.7;
    color:white;
    text-decoration:none;
}

.footer a {
    color:white;
}

.footer{
    height:120vw;
    background-color:black; 
}

.home-link{
    font-family: 'Consolas';
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color:white;
    padding:5px 10px 5px 10px;
    transition: transform .4s;
    text-align:center;
    margin:0px 0px 3% 2%;
    font-size:13vw;
    width:auto;
}

.upcoming-link{
    text-decoration: none;
    background-color:#993333;
    font-family: 'Consolas';
    font-weight: bold;
    letter-spacing: 2px;
    color:white;
    border:1px solid white;
    border-radius:10px;
    padding:5px 10px 5px 10px;
    text-align:center;
    transition: transform .4s;
    font-size:7vw;
    margin:0px 0px 7% 20%;
    width:60%;
}

.archive-link{
    text-decoration: none;
    font-family: 'Consolas';
    font-weight: bold;
    letter-spacing: 2px;
    color:white;
    border:1px solid white;
    border-radius:10px;
    padding:5px 10px 5px 10px;
    text-align:center;
    background-color:#333366;
    transition: transform .4s;
    font-size:7vw;
    width:60%;
    margin:0px 0px 0px 20%;
}

.social-footer{
    margin:10% 0px 0px 24%;
    width:60%;
    display: flex;
    justify-content: center;
}

.effect-footer a {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10%;
    overflow: hidden;
    position: relative;
    color: white; 
    border:2px solid white;
    height:21.5vw;
    width:21.5vw;
    font-size:9vw;
}

@media only screen and (max-width:896px) and (orientation:landscape){
    .credit{
        width:35%;
        margin:8% 0px 0px 35%;
    }

    .footer{
        height:80vh;
    }

    .home-link{
        font-size:10vh;
        width:60vh;
        margin:0px 0px 0px 13%;
    }

    .upcoming-link{
        font-size:3vw;
        width:50vh;
        margin:2% 0px 0px 15%;
    }

    .archive-link{
        font-size:3vw;
        width:50vh;
        margin:3% 0px 0px 15%;
    }

    .social-footer{
        margin:-18% 0px 0px 60%;
        width:35%;
    }

    .effect-footer a {
        width:13vw;
        height:13vw;
        font-size:5vw;
    }

}
/*--------------desktop-----------*/
@media only screen and (min-width:897px){
    .credit{
        margin:2% 0px 0px 42%;
        width:10%;
        font-size:.8vw;
    }
    .footer{
        height:25vw;
    }

    .home-link{
        font-size:3.15vw;
        margin:0px 0px 0px 38.5%;
        width:16%;
    }

    .upcoming-link{
        font-size:1.2vw;
        margin:0px 0px 1% 41%;
        width:11%;
    }

    .archive-link{
        font-size:1.2vw;
        margin:0px 0px 0px 41%;
        width:11%;
    }

    .social-footer{
        margin:2% 0px 0px 41.5%;
        width:11vw;
    }

    .effect-footer a {
        /*display: flex; !!!uncomment this line !!!*/
          width: 4.2vw;
          height:4.2vw;
          font-size: 1.8vw;
      }
}

/*------------------ipad---------------*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait) {
    .credit{
        border:1px solid red;
        margin:5% 0px 0px 25%;
        font-size:2.5vw;
        width:50%;
    }

    .footer{
        height:70vw;
    }

    .home-link{
        font-size:9vw;
        margin:0px 0px 0px 25%;
        width:50%;
    }

    .upcoming-link{
        font-size:4vw;
        width:30%;
        margin:0px 0px 3% 35%;
    }

    .archive-link{
        font-size:4vw;
        width:30%;
        margin:0px 0px 0px 35%;
    }

    .social-footer{
       margin:5% 0px 0px 36%;
       width:30vw;
    }

    .effect-footer a {
        width:35vw;
        height:12vw;
        font-size:5vw;
      }
}

/*---------------------Text and image under landing page-------------*/

.summary-text{
    font-size:8vw;
    margin:50% 0px 0px 5%;
    text-align:center;
    width:90%;
    height:15%;
    font-weight:bold;
    font-family: consolas;
    color:black;
}

.summary-text p {
    font-size:4.5vw;
    width:65%;
    height:15%;
    margin:0px 0px 0px 10%;
    font-weight:medium;
    position:absolute;
    z-index:3;
}

.lands{
    height:100vh;
}

.lands img{
    margin:30% 0px 0px 8%;
    width:80%;
    position:absolute;
    z-index:1;
}


@media only screen and (max-width:896px) and (orientation:landscape){
    .summary-text{
        font-size:4vw;
        width:30%;
        height:30%;
        margin:27vh 0px 0px 10%;
        position: absolute;
    }

    .summary-text p{
        font-size:2.5vw;
        margin:5% 0px 0px 0px;
        width:100%;
        height:70%;
    }

    .lands{
        height:100vh;
    }

    .lands img{
        margin:18vh 0px 0px 45%;
        width:87vh;
    }
}

/*--------------desktop-----------*/
@media only screen and (min-width:896px){
    .summary-text{
        font-size:4.1vw;
        width:24%;
        height:40%;
        margin:10% 0px 0px 10%;
    }

    .summary-text p {
        font-size:2vw;
        width:27%;
        height: 17%;
        margin:0px 0px 0px -2%;
    }

    .lands{
        height:50vw;
    }

    .lands img{
        margin:-25% 0px 0px 40%;
        width:50%;   
    }
}

/*------------------ipad---------------*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait) {
    .summary-text{
        font-size:8vw;
        width:50%;
        height:20%;
        margin:15% 0px 0px 26%;
    }

    .summary-text p {
        font-size:4vw;
        width:60%;
        height:15%;
        margin:0px 0px 0px -7%;
    }

    .lands img{
        margin:30% 0px 0px 10%;
        width:80%;
    }

    .lands{
        height:135vw;
    }
}

.front-text{
    margin:50% 0px 0px 8% ;
    font-size:14vw;
    position:absolute;
    z-index: 3;
    color:white;
    font-weight:bold;
}

.front img{
    margin:40vh 0px 0px -3vh;
    width:100%;
    position: absolute;
    z-index: 2;
}

.front{
    background-image:url("Background-heat.gif");
    background-size:auto;
    height:100vh;
}

@media only screen and (max-width:896px) and (orientation:landscape){
    .front-text{
        margin:10% 0px 0px 50%;
        font-size:8vw;
    }

    .front img{
        margin:0px 0px 0px -3%;
        width:175vh;
    }
    .front{
        height:100vh;
        background-size: 100%;
    }
}
/*--------------desktop-----------*/
@media only screen and (min-width:897px){
    .front-text{
        font-size:5vw;
        margin:13.5% 0px 0px 60%;
        width:auto;
    }

    .front img{
        margin:0px 0px 0px -5%;
    }

    .front{
        background-size:100vw;
        height: 51vw;
    }
}

/*------------------ipad---------------*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait) {
    .front{
        height:135vw;
        background-size:250vw;
    }

    .front img {
        margin: 30% 0px 0px -2%;
        width:100%;
    }

    .front-text{
        margin:100% 0px 0px 20%;
        font-size:10vw;
    }
}
/*--------------------------Nav Bar--------------------------*/
.navbar a {
    color:white;
    opacity: .9;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.navbar a:hover {
    color:white !important;
    opacity: 0.4;
}

.navbar{
    font-family: 'Consolas'!important;
    font-weight: bold!important;
    letter-spacing: 2px!important;
    margin:-0.5% 0px 0px 0px!important;
}

.nav-item{
    padding:0px 0px 0px 0px!important;
    font-size:30px!important;
}

.navbar-toggler :enabled{
    border-color:red!important;
    color:green!important;
    background-color:blue!important;
}

.custom-toggler.navbar-toggler {
    border-color:none;
}

.custom-toggler.navbar-toggler :active {
    border-color:red!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(185,185,185,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (min-width:768px){
    .nav-item{
        padding:0px 50px 0px 150px!important;
        font-size:1.5vw!important;
    }
    
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait){
    .nav-item{
        padding:10px 0px 0px 0px!important;
        margin:0px 0px 0px 50px!important;
        width:200px!important;
        font-size:4vw!important;
    }

    .navbar-brand{
        font-size:3vw!important;
    }
}
